<ion-header>
  <ion-navbar>
    <ion-title>Detalhe Chamadas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  <h3 class="titulo">Detalhamento da chamada</h3>
  <ion-item no-lines>
    <div class="background">
      <span style="font-weight: bolder; color: gray;">Nome cliente: </span> 
      <p  class="descricao">{{ dados.cliente_nome }}</p>
    </div>

    <ion-row>
      <ion-col>
        <div >
          <span style="font-weight: bolder; color: gray;">Data: </span> 
          <p class="descricao">{{ dados.created_at.date.substring(0,10) }}</p>
        </div>
      </ion-col>
      <ion-col >
        <div style="float: right;">
          <span style="font-weight: bolder; color: gray;">Hora: </span> 
          <p class="descricao">{{ dados.created_at.date.substring(11,16) }}</p>
        </div>
      </ion-col>
    </ion-row>
    
    <div class="background">
      <span style="font-weight: bolder; color: gray;">Tipo: </span>
      <p class="descricao">{{ dados.tipo }}</p>
    </div>

    <div>
      <span style="font-weight: bolder; color: gray;"> Status: </span>
      <p class="descricao">{{ dados.status }}</p>
    </div>

    <div class="background">
      <span style="font-weight: bolder; color: gray;">Valor: </span>
      <p class="descricao">{{ dados.valor }}</p>
    </div>

    <div>
      <span style="font-weight: bolder; color: gray;">Endereço Origem: </span>
      <p class="descricao">{{ enderecoOrigem }}</p>
    </div>
    
    <div class="background">
      <span style="font-weight: bolder; color: gray;">Endereço Destino: </span>
      <p class="descricao">{{ enderecoDestino }}</p>
    </div>

    <div>
      <span style="font-weight: bolder; color: gray;">Motorista atendeu chamada: </span>
      <p class="descricao">{{ dados.fornecedor.data.name }}</p>
    </div>
  </ion-item>
  <div>
    <ion-row>
      <ion-col class="conta">
        <button ion-button large block color="primary" (click)="dismiss()">
          FECHAR
        </button>
      </ion-col>
    </ion-row>
  </div>


</ion-content>
