page-modal-chamadas {
    .descricao{
        font-size: 1.2em;
        color: rgb(0, 0, 0);
        white-space: normal;
        margin-bottom: 3%;
    }

    .titulo{
        text-align: center;
        margin-bottom: 8%;
    }

    .background{
        background-color: rgb(231, 231, 231);
        padding: 1%;
    }
}
