<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Conversas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div [hidden]="vazio == 2">
      <ion-item  no-lines>
        <h2 style="text-align: center; font-size: 1.2em; color: gray; padding-top: 5%;">Você não tem nenhuma mensagem</h2>
      </ion-item>
    </div>
    
    <div [hidden]="vazio == 1">
      <ion-item *ngFor="let item of listaConversas" no-lines>
        <ion-card class="cardChamadas">
          <ion-row (click)="conversar(item)">
            <ion-col style="max-width: 20%;">
              <h2 class="nomePassageiro">{{ item.id }}</h2>
            </ion-col>
            <ion-col style="max-width: 80%;">
              <h2 class="nomePassageiro">{{ item.name }}</h2>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-item>
    </div>
  </ion-list>
</ion-content>