<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chamadas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div [hidden]="vazio == 2">
      <ion-item  no-lines>
        <h2 style="text-align: center; font-size: 1.2em; color: gray; padding-top: 5%;">Não existem chamadas ativas</h2>
      </ion-item>
    </div>

    <div [hidden]="vazio == 1">
      <ion-item *ngFor="let chamadas of dadosAtivado">
        <ion-card style="padding: 3%;" (click)="mostrarDados(chamadas)"> <!-- (click)="mostrarDados(chamadas)" -->
          <ion-row>
            <ion-col style="max-width: 85%;">
              <ion-row>
                <ion-col style="max-width: 20%;">
                  <p class="nome">{{ chamadas.id }}</p>
                </ion-col>
                <ion-col style="max-width: 80%;">
                  <p class="nome">{{ chamadas.cliente_nome }}</p>
                </ion-col>
              </ion-row>
              
              <ion-row>
                <p class="endereco"><span style="font-weight: bolder;">Origem: </span> {{ chamadas.trajeto.data[0].endereco }}</p>
                <div padding></div>
                <br/>
                <p class="endereco"><span style="font-weight: bolder;">Destino: </span> {{ chamadas.trajeto.data[1].endereco }}</p>
              </ion-row>
            </ion-col>

            <ion-col style="max-width: 15%;">
              <ion-row>
                <ion-col>
                  <a href="tel: {{ chamadas.cliente.data.ddd }} {{ chamadas.cliente.data.numero }}">
                    <button ion-button right>
                      <ion-icon ios="ios-call" md="md-call"></ion-icon>
                    </button>
                  </a>
                </ion-col>
                <ion-col>
                  10:11
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
        
      </ion-item>
    </div>
  </ion-list>
</ion-content>