page-chamadas {
    .cardChamadas{
        padding: 3%;
    }

    .labelInf{
        font-size: 1em;
        color: gray;
    }

    .nome{
        font-size: 1.2em;
        font-weight: bold;
        color: #1c313a;
    }

    .endereco{
        font-size: 0.9em;
        color: rgb(41, 41, 41);
        white-space: pre-wrap;
    }

    .cardCancelado{
        padding: 3%;
        background-color: #FFDAB9;
        
    }

    .cardAtendimento{
        padding: 3%;
        background-color: #98FB98;
    }

    .cardSolicitacao{
        padding: 3%;
        background-color: rgb(219, 219, 219);
    }

    .cardSolicitacao2Min{
        padding: 3%;
        background-color: #F4A460;
    }

    .cardFinalizado{
        padding: 3%;
        background-color: white;
    }
}

.item-md{
    padding-left: 0;
}

.item-md.item-block .item-inner{
    padding-right: 0;
}

.label-md{
    margin: 0;
}