<ion-tabs class="tabs-positive tabs-striped" [color]="isAndroid ? 'royal' : 'primary'">
    <ion-tab [root]="chatRoot" tabTitle="CONVERSAS" tabIcon="chatbubbles"></ion-tab>
    <ion-tab [root]="chamadasRoot" tabTitle="CHAMADAS" tabIcon="megaphone"></ion-tab>
</ion-tabs>
