.primary-bg{
    background-color: #1c313a;
}




.conteiner-exterior {
    .scroll-content {
      height: 100%;
  
      .conteiner-interior {
        width: 100%;
        margin-top: 20px;
  
        .conteiner {
          // keep only bottom border
          .item-input {
            margin: 0;
            padding-left: 0;
            border: none;
            border-bottom: 1px solid #DDD;
  
            .item-inner {
              border: none;
            }
          }
        }
      }
    }
  }
  
  
  .action-sheet-md .action-sheet-container{
    height: 300px;
  }
  
 

  
.faq {
    padding: 0 3% 0 3%;
    font-size: 1.2em;
    word-spacing: 15px;
}
  
  
  