<ion-menu [content]="content">
    <ion-content class="menu-left">
        <div text-center padding-top padding-bottom class="primary-bg menu-left"> 
            <!-- <img src="assets/imgs/logoAlfaGebra.png" class="imgUsuario" /> -->
            <h4 ion-text color="light"> Suporte LEVEZ </h4>
         </div>
        <hr/>
        <ion-list class="list-full-border" padding>
            <button ion-item menuClose *ngFor="let page of pages" (click)="openPage(page)">
                <ion-icon item-left color="appPAzul" name="{{ page.icon }}"></ion-icon>
                {{ page.title }}
                <ion-badge color="danger" item-right *ngIf="page.count">{{ page.count }}</ion-badge>
            </button>
        </ion-list>

        <ion-footer class="faq">
            <ion-row padding>
                Configurações
            </ion-row>
            <ion-row padding>
                <p style="text-align: right; font-size: 0.9em !important; color: gray;">v1.0.005</p>
                
                <!-- <ion-col>
                </ion-col>
                <ion-col>
                    <p style="text-align: right; font-size: 0.9em !important; color: gray;">v1.0.005</p>
                </ion-col> -->
            </ion-row>
        </ion-footer>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>