page-update {

}

.erro-update{
    .toast-container{
        background-color: #be0303;
    
        .toast-message{
            font-weight: 900;
            font-size: 1.8rem;
            text-align: center;
        }
    }
}

.certo-update{
    .toast-container{
        background-color: #1c313a;
    
        .toast-message{
            font-weight: 900;
            font-size: 1.8rem;
            text-align: center;
        }
    }
}