<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Editar usuários</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="editarForm" (ngSubmit)="updateUser()" padding> <!--  -->
    <ion-list class="inputEntradas">
      <!-- <ion-item>
        <ion-label>Selecione o perfil do usuário</ion-label>
        <ion-select formControlName="email" [(ngModel)]="model.perfil" multiple="true">
          <ion-option>Passageiro</ion-option>
          <ion-option>Motorista</ion-option>
        </ion-select>
      </ion-item> -->
      <p style="text-align: center; font-size: 1.3em; color: gray;">Alteração de dados cadastrais</p>
      
      <br/>
      <ion-item class="dados">
        <ion-label stacked>E-mail</ion-label>
        <ion-input 
          #email 
          formControlName="email" 
          type="email" 
          placeholder="Informe seu e-mail" 
          [class.invalid]="!editarForm.controls.email.valid && editarForm.controls.email.dirty" 
          name="email" 
          [(ngModel)]="model.email"></ion-input>
      </ion-item>
    </ion-list>

    <!-- Botão acessar conta com e-mail e senha -->
    <button ion-button large block color="appPAzul" block type="submit">
      Salvar
    </button>
  </form>
</ion-content>
