<ion-header>
  <ion-toolbar>
    <ion-title>Conversas</ion-title>
    <ion-buttons end (click)="dismiss()">
      <button ion-button icon-only>
        <ion-icon ios="ios-close" md="md-close" style="font-size: 2em;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-list class="chatImage">
    <ion-item *ngFor="let item of listaConversas" class="itemMensagem" no-lines>
      <div *ngIf=" item.name == 'Suporte Levez'" id="teste">
        <h2 class="nomePassageiro">{{item.name}}</h2>
        <div class="balaoPassageiro">
          <h3 class="chatText">{{item.mensagem}}</h3>

          <div *ngIf="item.imagem"> 
            <img *ngFor="let img of imagem" [src]=" img "> 
          </div>

          <h3 class="dataChat">{{item.data}}</h3>
        </div>
      </div>


      <div *ngIf="item.name != 'Suporte Levez'">
        <h2 class="nomeMotorista">{{item.name}}</h2>
        <div class="balaoMotorista">
          <h3 class="chatText">{{item.mensagem}}</h3>
          <div *ngIf="item.imagem">
            <img [src]=" item.imagem "> 
          </div>
          <h3 class="dataChat">{{item.data}}</h3>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <form [formGroup]="chatForm" (ngSubmit)="chatSend()">
    <ion-grid>
      <ion-row>
        <ion-col style="max-width: 80%;">
          <ion-input class="chat-text" [(ngModel)]="model.mensagem" type="text" name="mensagem" #mensagem formControlName="mensagem" required placeholder="Mensagem..."></ion-input>
        </ion-col>

        <ion-col center style="max-width: 10%;">
          <ion-fab bottom right top  style="margin-top: -10%; margin-right: -10%;" (tap)="salvarImagem()">
            <button ion-fab color="primary" full mini [disabled]=" "  clear>
              <ion-icon ios="ios-camera" md="md-camera" color="light"></ion-icon>
            </button>
          </ion-fab>
        </ion-col>

        <ion-col center style="max-width: 10%; margin-left: 3%;">
          <ion-fab bottom right top type="submit" style="padding-left: 10%; margin-top: -10%; margin-right: -10%;">
            <button ion-fab full mini color="primary" [disabled]="!chatForm.valid" clear item-right>
              <ion-icon ios="ios-send" md="md-send"></ion-icon>
            </button>
          </ion-fab>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </form>

<!-- <img *ngIf="image" [src]="image">
<button ion-button (tap)="uploadHandler()">
    Upload!
</button>

<ng-container *ngIf="progress | async as percent">
  <progress [value]="percent" max="100"></progress>
</ng-container> -->
</ion-footer>
