page-chat-sala {
  .chatText{
    white-space: normal;
    font-size: 1.1em !important;
    padding: 8px;
  }

  .chat-text{
    white-space: normal;
    font-size: 1.3em;
    color: black;
    background-color: rgb(223, 223, 223);
    border: 2px solid rgb(223, 223, 223);
    padding: 3px;
    border-radius: 25px;
    width: 95%;
  }


  .texto{
    background-color: gray;
  }

  .itemMensagem{
    display: block;
    max-height: 100%;
    min-height: 20%;
    min-width: 100px;
    max-width: 95%;
  }

  .nomePassageiro{
    text-align: left;
    color: gray;
    font-size: 0.8em;
    margin-left: 5%;
  }

  .nomeMotorista{
    text-align: right;
    color: gray;
    font-size: 0.8em;
  }

  .balaoPassageiro{
    background: #BBDEFB;
    padding: 10px;
    position: relative;
    border-radius: 0px 20px 20px 20px;
    min-width: 100px;
    max-width: 95%;
    float: left;
    margin-left: 5%;
  }
  
  .balaoMotorista{
    background: rgb(221, 221, 221);
    padding: 10px;
    position: relative;
    border-radius: 20px 0px 20px 20px;
    min-width: 100px;
    max-width: 95%;
    float: right;
  }

  .mensagemChat{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
  }

  
  .dataChat{
    text-align: right;
    color: gray;
    font-size: 0.8em;
  }
  
  .botaoB{
    margin-bottom: -5px !important;
  }

  ion-row{
    padding-bottom: 2px;
  }

  .mensagemChatMensagem{
    margin-bottom: 5px;

  }

  .rodape{
    background-color: #CFD8DC;
  }
}
